{% extends 'base.html.twig' %}

{% block title 'Articles' %}

{% set active = 'articles' %}

{% block body %}
    <main>
        <div id='scroll' class='flex reveal' role='complementary'>
            <section id='article__section'>
                <h2 class='reveal-2'>Articles</h2>
                <div class='reveal-3'>
                    {% for article in articles %}
                        <div class='flex'>
                            <hr/>
                            <article>
                                <h3>{{ article.title }}</h3>
                                <p>{{ article.content }}</p>
                                <a href='{{ article.link }}' class='btn' target='_blank' rel='noopener'>{{ article.linktitle }}</a>
                            </article>
                            <img src='img/articles/{{ article.imageFileName }}' alt='{{ article.description }}'>
                        </div>
                    {% endfor %}
                </div>
            </section>
        </div>
    </main>
{% endblock %}

