{% extends 'base.html.twig' %}

{% block title 'Articles' %}

{% set active = 'articles' %}

{% block body %}
    <section id='article__section scroll'>
        <h2>Articles</h2>
        <div>
            {% for article in articles %}
                <div class='flex'>
                    <hr/>
                    <article>
                        <h3>{{ article.title }}</h3>
                        <img src='img/articles/{{ article.imageFileName }}' alt='{{ article.description }}' title='{{ article.description }}'>
                        <p>{{ article.content }}</p>
                        <a href='{{ article.link }}' class='btn' target='_blank' rel='noopener'>{{ article.linktitle }}</a>
                    </article>
                </div>
            {% endfor %}
        </div>
    </section>
{% endblock %}

