{% extends 'base.html.twig' %}

{% block title "Galerie" %}

{% block body %}
<main>
    <div id="scroll" class="flex">
        <section class="gallery">
            <h2 class="title">Galerie</h2>
            <ul class="grid" id="photos">
                {% for gallery in gallery %}
                    <li>
                        <a href="#{{ gallery.id }}"><img src="img/gallery/{{ gallery.picture }}" id="myImg" alt=""></a>
                        <div class="lightbox" id="{{ gallery.id }}">
                            <figure>
                                <a href="#" class="close"></a>
                                <img src="img/gallery/{{ gallery.picture }}" class="diapo-img" alt="">
                                <div class="box-caption">
                                    <figcaption>{{ gallery.description }}</figcaption>
                                </div>
                            </figure>
                        </div>
                    </li>
                {% endfor %}
            </ul>
        </section>
    </div>
</main>
{% endblock %}