{% extends 'base.html.twig' %}

{% block title "Galerie" %}

{% set active = 'galerie' %}


{% block body %}
<main>
    <div id="scroll" class="flex">
        <section class="gallery">
            <h2 class="title">Galerie</h2>
            <ul class="grid" id="photos">
                {% for image in images %}
                    <li>
                        <a href="#{{ image.id }}"><img src="img/gallery/{{ image.picture }}" class="myImg" alt="{{ image.altAttribute }}"></a>
                        <div class="lightbox" id="{{ image.id }}">
                            <figure>
                                <a href="#" class="close"></a>
                                <img src="img/gallery/{{ image.picture }}" class="diapo-img" alt="{{ image.altAttribute }}">
                                <div class="box-caption">
                                    <figcaption>{{ image.description }}</figcaption>
                                </div>
                            </figure>
                        </div>
                    </li>
                {% endfor %}
            </ul>
        </section>
    </div>
</main>
{% endblock %}