{% extends 'base.html.twig' %}

{% block title 'Retourn\'AMAP - galerie' %}

{% set active = 'gallery' %}

{% block body %}
	<section id='scroll'>
		<h2>Galerie</h2>
		<div class='grid gallery' id='photos'>
			{% for image in images %}
				<a href='img/gallery/{{ image.imageFileName }}' data-lightbox='mygallery' data-title='{{ image.description }}' class='img-link'>
					<img src='img/gallery/{{ image.imageFileName }}' alt='{{ image.description }}' title='{{ image.description }}'>
				</a>
			{% endfor %}
		</div>
	</section>
{% endblock %}
