{% extends 'base.html.twig' %}

{% block title "Galerie" %}

{% block body %}
<main>
    <div id="scroll" class="flex" role="complementary">
        <section class="gallery">
            <h2 class="title">Galerie</h2>
            <ul class="grid" id="photos">
                {% for image in images %}
                    <li>
                        <a href="#{{ image.id }}"><img src="img/gallery/{{ image.imageFileName }}" class="myImg" alt="{{ image.description }}"></a>
                        <div class="lightbox" id="{{ image.id }}" role="complementary">
                            <figure>
                                <a href="#" class="close"></a>
                                <img src="img/gallery/{{ image.imageFileName }}" class="diapo-img" alt="{{ image.description }}">
                                <figcaption>{{ image.description }}</figcaption>
                            </figure>
                        </div>
                    </li>
                {% endfor %}
            </ul>
        </section>
    </div>
</main>
{% endblock %}