{% extends 'base.html.twig' %}

{% block title "Les producteurs" %}

{% set active = "productors" %}

{% block body %}
<main>
    <div class="flex reveal" role="complementary">
        <section class="container">
            <h2 class="reveal-2">Les producteurs</h2>
            <table class="table table-hover">
                <caption>Liste des producteurs</caption>
                <thead class="reveal-3">
                <tr>
                    <th scope="col">Producteurs</th>
                    <th scope="col">Produits / Contrats</th>
                    <th scope="col">Livraison</th>
                    <th scope="col">Label</th>
                </tr>
                </thead>
                <tbody class="table">
                {% for productor in productors %}
                <tr class="reveal">
                    <td class="reveal-4">
                        <figure>
                            <figcaption><a href="#" class="underline">{{ productor.name }}</a></figcaption>
                            <img src="img/producteurs/{{ productor.filename }}" alt="{{ productor.imageDescription }}">
                        </figure>
                    </td>
                    <td class="reveal-4">
                        {% for contract in productor.contracts %}
                            <h4>{{ contract.name }}</h4>
                            {% if contract.fileName %}
                                <p><a href="/doc/contrats/{{ contract.fileName }}" target="_blank" class="underline">Voir le contrat&nbsp;
                                        <img src="{{ asset('img/logopetit.png') }}" alt="petit logo"></a></p>
                            {% endif %}
                        {% endfor %}
                    </td>
                    <td class="reveal-4">{{ productor.delivery }}</td>
                    <td class="reveal-4"><img src="img/label/{{ productor.label }}" alt="logo du label" class="img-label"></td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </section>
    </div>
</main>
{% endblock %}