{% extends 'base.html.twig' %}

{% block title 'Les producteurs' %}

{% set active = 'productors' %}

{% block body %}
<main>
    <div class='flex' role='complementary'>
        <section class='container'>
            <h2>Les producteurs</h2>
            <table class='table table-hover'>
                <caption>Liste des producteurs</caption>
                <thead>
                <tr>
                    <th scope='col'>Producteurs</th>
                    <th scope='col'>Produits / Contrats</th>
                    <th scope='col'>Livraison</th>
                    <th scope='col'>Label</th>
                </tr>
                </thead>
                <tbody>
                {% for productor in productors %}
                <tr>
                    <td>
                        <figure>
                            <figcaption>
                                <a href='{{ productor.link }}' class='underline' {% if productor.link == '#' %} style='cursor: default' {% else %}title='Voir le site' target='_blank' rel='noopener'{% endif %}>{{ productor.name }}</a>
                            </figcaption>
                            <a href='{{ productor.link }}' {% if productor.link == '#' %} style='cursor: default' {% else %} title='Voir le site' target='_blank' rel='noopener'{% endif %}>
                                <img src='img/producteurs/{{ productor.filename }}' alt='{{ productor.imageDescription }}' class='ie-picture-size'>
                            </a>
                        </figure>
                    </td>
                    <td>
                        {% for contract in productor.contracts %}
                            <h4>{{ contract.name }}</h4>
                            {% if contract.description %}
                                <p>{{ contract.description }}</p>
                            {% endif %}
                            {% if contract.fileName %}
                                <p><a href='/doc/contrats/{{ contract.fileName }}' target='_blank' rel='noopener' class='underline'>Voir le contrat&nbsp;
                                        <img src='{{ asset('img/logopetit.png') }}' alt='petit logo'></a></p>
                            {% endif %}
                        {% endfor %}
                    </td>
                    <td>{{ productor.delivery }}</td>
                    <td><img src='img/label/{{ productor.label }}' alt='logo du label' class='img-label'></td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </section>
    </div>
</main>
{% endblock %}