{% extends 'base.html.twig' %}

{% block title 'Retourn\'AMAP - producteurs' %}

{% set active = 'productors' %}

{% block body %}
	<section id='productors'>
		<h2>Les producteurs</h2>
		<ul>
		{% for productor in productors %}
			<li class='card'>
				<figure>
					<img class='productor_picture' src='img/producteurs/{{ productor.filename }}' alt='{{ productor.imageDescription }}'/>
				</figure>
				<div class='productor_card_body'>
					{% if productor.link != '#' %}
						<h6>
							<a href='{{ productor.link }}' title='Voir le site' target='_blank' rel='noopener' class='underline'>
								{{ productor.name }}
								<img src='{{ asset('img/arrow-up-right-from-square-solid.png') }}' alt='' aria-hidden='true'/>
							</a>
						</h6>
					{% else %}
						<h6>
							{{ productor.name }}
						</h6>
					{% endif %}
					{% for contract in productor.contracts %}
						<p>
							<strong>{{ contract.name }}</strong>
							<br/>{{ productor.delivery }}
							{% if contract.description %}
								<br/><p>{{ contract.description }}</p>
							{% endif %}
							{% if contract.fileName %}
								<br/><a href='/doc/contrats/{{ contract.fileName }}' target='_blank' rel='noopener' class='underline'>Voir le contrat</a>&nbsp;
							{% endif %}
						</p>
						{% if productor.label %}
							<img src='img/label/{{ productor.label }}' alt='{{ productor.label }}' class='mt-2'/>
						{% endif %}
						{% endfor %}
					</div>
				</li>
			{% endfor %}
		</ul>
	</section>
	{% endblock %}
