{{ form_start(form, {
    attr:{
        class: 'form_container'
    }
}) }}
<div class="row">
    <div class="col-md-12">{{ form_row(form.content) }}</div>
</div>
{{ form_widget(form) }}
<button class="btn btn-primary">{{ button|default('Enregistrer') }}</button>
{{ form_end(form) }}
