{% extends 'base.html.twig' %}

{% set active = null %}

{% block title "Gérer les producteurs" %}

{% block body %}
    <main>
        <div class="flex" role="complementary">
            <section class="container">
                <h2>Gérer les producteurs</h2>
                {% for message in app.flashes('success')  %}
                    <div class="alert alert-success">
                        {{ message }}
                    </div>
                {% endfor %}
                <table class="table table-striped">
                    <ul>
                        <li>
                            <a href="{{ path('admin.productor.new') }}" class="btn btn-primary">Ajouter un producteur</a>

                        </li>
                        <li>
                            <a href="{{ path('admin') }}" class="btn btn-primary">Menu</a>
                        </li>
                    </ul>
                    <thead>
                        <tr>
                            <th>Nom</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for productor in productors %}
                    <tr>
                        <td>{{ productor.name }}</td>
                        <td>
                            <a href="{{ path('admin.productor.edit', {id: productor.id}) }}" class="btn btn-secondary">Editer</a>
                            <form method="post" action="{{ path('admin.productor.delete', {id: productor.id}) }}" onsubmit="return confirm('Êtes vous sûr ?')" class="admin-form">
                                <input type="hidden" name="_method" value="DELETE">
                                <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ productor.id) }}">
                                <button class="btn btn-danger">Supprimer</button>
                            </form>
                        </td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </section>
        </div>
    </main>
{% endblock %}