<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="icon" type="image/png" href="img/logopetit.png"/>
    <title>{% block title %}Retourn'AMAP!{% endblock %}</title>
    {% block stylesheets %}
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css">
        <!-- CSS PERSO -->
        <link rel="stylesheet" type="text/css" href="style/style.css" media="screen"/>
    {% endblock %}
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-dark bg-light">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#myNavBar" aria-controls="myNavBar" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="myNavBar">
                <ul class="nav navbar-nav">
                    <li class="nav-item"><a class="nav-link {% if active == "accueil" %}active{% endif %}" href="{{ path('home') }}">Accueil</a></li>
                    <li class="nav-item"><a class="nav-link {% if active == "fonctionnement" %}active{% endif %}" href="{{ path('explain') }}">Fonctionnement</a></li>
                    <li class="nav-item"><a class="nav-link {% if active == "producteurs" %}active{% endif %}" href="{{ path('productors') }}">Producteurs</a></li>
                    <li class="nav-item"><a class="nav-link {% if active == "galerie" %}active{% endif %}" href="{{ path('gallery') }}">Galerie</a></li>
                    <li class="nav-item"><a class="nav-link {% if active == "contact" %}active{% endif %}" href="{{ path('contact') }}">Contact</a></li>
                </ul>
            </div>
        </nav>
        <img src="img/logo.svg" alt="logo association">
    </header>
{% block body %}{% endblock %}
    <footer>
        <nav class="navbar navbar-expand-lg navbar-dark bg-light">
            <ul class="nav navbar-nav">
                <li class="nav-item"><a class="nav-link" href="#">Statuts</a></li>
                <li class="nav-item"><a href="#legal" class="nav-link modal-opener" id="legal" data-id="modal-legal">Mentions
                        légales</a></li>
            </ul>
        </nav>
        <button type="button" value="Haut de page" class="scrollup"><i class="fas fa-chevron-up"></i></button>
        <small><i class="far fa-copyright"></i>2019 Tous droits réservés Guillaume Charmasson</small>
    </footer>
{% block javascripts %}
    <script src="http://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha256-pasqAKBDmFT4eHoN2ndd6lN370kFiGUFyTiUHWhU7k8=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="js/jquery.js"></script>
    <script src="js/main.js"></script>
{% endblock %}
</body>
</html>

